h2, h1, p{
    text-align: center;
}
div.container{
    text-align: center;
    
}
ul.infoUL{
    display: inline-block;
    text-align: left;
}
img{
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
main{
    background-color: bisque;
    height: 850px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
footer{
    text-align: center;
    font-display: bold;
}
a:hover{
    color: blue;
}